<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.3.xsd">
	<bean id="druid-stat-interceptor"
		class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
	</bean>
	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut"
		scope="prototype">
		<property name="patterns">
			<list>
				<value>com.sinux.modules..*.service.*</value>
				<!-- <value>com.sinux.modules..*.dao.*</value> -->
			</list>
		</property>
	</bean>

	<aop:config proxy-target-class="true">
		<aop:advisor advice-ref="druid-stat-interceptor"
			pointcut-ref="druid-stat-pointcut" />
	</aop:config>
	
	<!-- 系统定时任务配置 -->
	<!-- <task:scheduled-tasks> -->
		<!-- 清除日志定时任务 间隔20天执行 -->
		<!-- <task:scheduled ref="logTask" method="cleanLog" cron="0 0 0 */20 * ?" /> -->
		<!-- 审核日志迁移任务 间隔20天执行-->
		<!-- <task:scheduled ref="auditLogTask" method="migrateToHistory" cron="0 0 0 */20 * ?" /> -->
	<!-- </task:scheduled-tasks> -->
</beans>